table.center {
   width: 70%;
   margin-left: 15%;
   margin-right: 15%;
}

button {
   width:6%;
   margin-left: 47%;
   margin-right: 47%;

}

h1 {
   left: 10%;
   margin-left: 6%;
   text-align: center;
}

td {
   text-align: center;
}